html, body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: transparent;
}

#canvas {
    width: 100vw;
    height: 100vh;
}
.hola {
    height: 200vh;
    background: red;
}