@font-face {
  font-family: "biotif";
  src: url("../fonts/biotif/Biotif-Regular.ttf");
}
@font-face {
  font-family: "biotif-b";
  src: url("../fonts/biotif/Biotif-Black.ttf");
}
@font-face {
  font-family: "biotif-l";
  src: url("../fonts/biotif/Biotif-LightItalic.ttf");
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    // overflow: hidden;
    overflow-x: hidden;
    background-color: transparent;
    cursor: default;
}

////    COLOR    ////
.kaki {
    color: #8C945B;
}
.orange {
    color: #D46D43;
}
.purple {
    color: #75609A;
}
.green {
    color: #18BF6F;
}
.prune {
    color: #4F4A87;
}
.cyan {
    color: #31A5D1;
}


#canvas {   
//   position: absolute;
  position: fixed;
  top: 0; left: 0;
  z-index: 1;
  transition: opacity 3s;
  z-index: 999;
}

.container-focus {
    position: fixed;
    width: 100vw;
    height: 100vh;
    transform: translateX(100vw);
    transition: transform 2s;
    z-index: 10000;
    overflow: hidden;

    &.full{
        transform: translateX(0)!important;
    }

    .canvas-02 {
      position: absolute;
      top: 0; left: 0;
      z-index: 1;
      transition: opacity 3s;
      display: none;
    }
    
    .back-labo{
        position: absolute;
        top: 2.5vh;
        left: 2.5vw;
        width: 4vw;
        height: 4vw;
        cursor: pointer;
        z-index: 99999;
    }
}

.container-infos{
    position: fixed;
    top: 0; bottom: 0; right: 0;
    width: 22vw;
    padding: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    z-index: 999;

    transform: translateX(100%);
    transition: all 2s;

    &.visible {
        transition: all 0.3s;
        transform: translateX(0);
    }

    &.full {
        transition: all 2s;
        transform: translateX(-100vw);
    }

    .title-infos{
        margin: 0;
        margin-bottom: 2.5vh;
        font-size: 4vw;
    }

    .subTitle-infos{
        text-align: center;
        margin: 0;
        margin-bottom: 3vh;
        font-size: 2vw;
    }

    .description-infos{
        margin-bottom: 10vh;
        text-align: left;
        font-size: 1.2vw;
        line-height: 2vw;
    }

    .btn-infos {
        width: 13vw;
        height: 5vw;
        // background-color: #000000;
        // background-image: url(../images/CTA_Discover.png);
        // background-size: contain;
        // background-repeat: no-repeat;
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
    }

    .close-infos{
        position: absolute;
        top: 2.5vh;
        right: 2.5vw;
        width: 4vw;
        height: 4vw;
        cursor: pointer;
    }
}

.gui{
    position: fixed;
    right: 0;
    z-index: 999;
}

.box {
    display: block;
    position:absolute;
    top:300px;
    left:0;
    width:30px;
    height:30px;
    background-color:blue;
}
.box2 {
    display: block;
    position:absolute;
    top:330px;
    left:0;
    width:30px;
    height:30px;
    background-color:red;
}

// Tutorials
.win {

    width: 100vw;
    height: 100vh;
    background-color: #00000021;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
    transition: 400ms;
    z-index: 10000;
    opacity: 0;
    pointer-events: none;

    &.show {
      opacity: 1;
    }

    &.memory {
      background-image: url('../../dist/memory/win.png');
    }

}

.tuto {
  width: 100vw;
  height: 100vh;
  background-color: #00000021;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px;
  transition: 400ms;
  z-index: 10000;
  pointer-events: none;

  &.hide {
    opacity: 0;
  }

  &.memory {
    background-image: url('../../dist/tutorials/memory.png');
  }

  &.renaud {
    background-image: url('../../dist/tutorials/renaud.png');
  }

  &.polo {
    background-image: url('../../dist/tutorials/polo.png');
  }

  &.kaleidoscope {
    background-image: url('../../dist/tutorials/britney.png');
  }

  &.gainsbourg {
    background-image: url('../../dist/tutorials/gainsbourg.png');
    z-index: 10020;
  }
}

.focus-renaud {
    width: 100vw;
    height: 100vh;
    -o-object-fit: contain;
    object-fit: contain;
    background-image: url('../assets/renaud/background.jpeg');
    background-position: center;
    background-size: cover;
    display: none;

    .spacebar {
      position: fixed;
      bottom: 6%;
      left: 50%;
      transform: translate(-50%, 0px);
      width: 330px;
      height: 100px;
      background-image: url('../assets/renaud/hold.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transition: all 400ms;
      opacity: 0;

      &.show {
        opacity: 1;
      }

      &.holding {
        background-image: url('../assets/renaud/holding.png');
      }
    }

    #video {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;

        img {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: fixed;
        opacity: 0;
        -webkit-animation-name: shake;
        -webkit-animation-duration: 0.2s;
        -webkit-transform-origin: 50% 50%;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in;

        &:nth-child(2) {
          -webkit-animation-name: shake2;
        }
    }
}

@-webkit-keyframes shake {
    0% {
      -webkit-transform: translate(.7px, .5px);
    }
    100% {
      -webkit-transform: translate(-.7px, -.5px);
    }
}

@-webkit-keyframes shake2 {
  0% {
    -webkit-transform: translate(.2px, .1px);
  }
  100% {
    -webkit-transform: translate(-1px, -.1px);
  }
}

.focus-gainsbourg {
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/gainsbourg/background_1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: none;

  #lampe {

    width: 100vw;
    height: 100vh;
    background-image: url('../assets/gainsbourg/lampe.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10001;
    pointer-events: none;
    position: fixed;
    
  }

  #mask {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    pointer-events: none;
  }

  img {
    max-width: 25%;
    cursor: move;
    position: absolute;
    transition: transform 300ms;
    z-index: 2;
    transform-origin: center;

    &.draggable:hover {
        transform: scale(1.1);
    }
  
    &.stamp{
      max-width: 10%;
      z-index: 1;
    }

    &.aram{
      width: 7%;
      bottom: 10vw;
      left: 10vw;
    }

    &.chopin{
      top: 42vh;
      right: 25vw;
      width: 6%;
    }

    &.clopes{
      width: 160px;
      transform: rotate(36.67deg);
      top: -40px;
      left: 20%;

      &:hover {
        transform: rotate(36.67deg) scale(1.1) !important;
      }
    }

    &.dvorak{
      width: 80px;
      top: 5%;
      left: 22%;
    }

    &.charlotte {
      width: 10%;
      bottom: 20vw;
      left: 10vw;
    }

    &.lemon {
      width: 33%;
      top: 39vh;
      right: 14vw;
      transform-origin: center;
      transform: rotate(30deg);

      &:hover {
        transform: rotate(30deg) scale(1.1) !important;
      }
    }

    &.jtm{
      transform: rotate(66.39deg);
      bottom: 0vh;
      left: 40vh;

      &:hover {
        transform: rotate(66.39deg) scale(1.1);
      }
    }

    &.polska{
      bottom: 3vh;
      left: 54vh;
      width: 6%;
    }

    &.charlotte,
    &.aram {
      bottom: 0%;
      left: 10%;
    }
  }
  
  #background-cover{
    background-image: url('../assets/gainsbourg/background_cover.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    position: fixed;
    pointer-events: none;
  }
}

.focus-aznavour{
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: none;

  &::-webkit-scrollbar {
      display: none;
  }

  #map {
      width: 4000px;
      height: 4000px;
      transition: all 300ms ease-in-out;
  }

  section {
      position: absolute;

      .section {
          transition: 300ms;
      }

      .section:first-of-type {
          width: 400px;
          height: 300px;
          background-color: blue;
          position: absolute;
      }

      .section:last-of-type {
          width: 400px;
          height: 300px;
          background-color: purple;
          position: absolute;
          top: 20px;
          left: 20px;
      }
  }

  #maurice {
      left: 50%;
      margin-left: -50px;
      top: 50%;
      margin-top: -50px;
  }

  #caimans {
      left: 90%;
      top: 60%;
      margin-top: -50px;
  }
}

.focus-memory{
  width: 100vw;
  height: 100vh;
  display: none;
  background-image: url('../assets/memory/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.focus-polo {
  width: 100vw;
  height: 100vh;
  // overflow: hidden;
  margin: 0;
  position: relative;
  display: none;

  // Cursor
  #cursor {
    position: fixed;
    z-index: 10000;
    background-image: url('../assets/polo/cursors/cursor.png');
    width: 20px;
    height: 20px;
    pointer-events: none;
    // transition: 400ms ease-in-out;
    // transition-property: width, height, background-image, transform;
    // transform-origin: center;

    &.drag {
      width: 66px;
      height: 64px;
      background-image: url('../images/focus/polo/cursors/drag.png');
      transform: rotate(-25deg);
    }
  }

  #disque {
    position: fixed;
    width: 260px;
    height: 260px;
    background-image: url('../images/focus/polo/Disque.png');
    z-index: 100000;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) rotateZ(0deg);
    transform-origin: center;

    &.rotate {
      animation: rotation 2s ease-out forwards;
    }

    @keyframes rotation {
      0% {transform: translate(-50%, 50%) rotate(0deg);}
      100% {transform: translate(-50%, 50%) rotate(360deg);}
    }


    h3 {
      margin: 0;
      position: absolute;
      color: white;
      top: 65px;
      width: 100%;
      text-align: center;
      font-size: 18px;

    }

    h4 {
      margin: 0;
      position: absolute;
      color: black;
      top: 110px;
      width: 100%;
      text-align: center;
      font-size: 12px;

    }
  }

  #background {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgb(108, 40, 106) 0%, rgb(0, 18, 244) 100%);
    mix-blend-mode: overlay;
    z-index: 50000;
    pointer-events: none;
    opacity: 0;
  }

  // .back {
  //   position: fixed;
  //   bottom: 70px;
  //   right: 70px;
  //   width: 174px;
  //   height: 174px;
  //   border: 50%;
  //   border-radius: 50%;
  //   cursor: pointer;
  //   clip-path: circle(100%);
  //   transition: clip-path .7s;
  //   transform-origin: center;
  //   padding: 4px;
  //   background-image: url('../images/focus/polo/icon-back.png');
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   z-index: 90000;

  //   &:hover {
  //     clip-path: circle(34px at center);
  //   }
  // }

  #layer-1 {
    width: 100%;
    height: 100%;
    background-image: url('../assets/polo/05.png');
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: filter 0.8s ease-in-out;
    pointer-events: none;
  }

  #layer-2 {
    width: 120%;
    height: 120%;
    background-image: url('../assets/polo/02.png');
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: filter 0.8s ease-in-out;
    pointer-events: none;

    .pin {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: white;
      cursor: pointer;
      pointer-events: all;

      &#sirene {
        top: 50vh;
        left: 43vw;
      }

      &#poisson {
        top: 50vh;
        left: 43vw;
      }

      &#papillon {
        top: 68vh;
        left: 53vw;
      }

      &#carnivore {
        top: 50vh;
        left: 43vw;
      }

      &#main {
        top: 50vh;
        left: 93vw;
      }
    }
  }

  #layer-3 {
    width: 105%;
    height: 105%;
    background-image: url('../assets/polo/01.png');
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: filter 0.8s ease-in-out;
    pointer-events: none;

    .pin {
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: white;
      cursor: pointer;
      pointer-events: all;

      &#papillon {
        top: 68vh;
        left: 60vw;
      }

      &#carnivore {
        top: 48vh;
        left: 6vw;
      }
    }
  }

  #layer-4 {
    width: 100%;
    height: 100%;
    background-image: url('../assets/polo/03.png');
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: filter 0.8s ease-in-out;
    pointer-events: none;
  }
}

#sun {
  position: fixed;
  top: 0;
  left: 50%;
  width: 250px;
  height: 250px;
  transform: translateX(-50%);
  background-image: url('../assets/polo/04_Soleil.png');
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 2;

  &::after {
    content: '';
    position: absolute;
    background-image: url('../assets/polo/04_Halo.png');
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    z-index: 1;
    pointer-events: none;
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.focus-daftpunk {
  display: none;
}
  
.focus-kaleidoscope {
  width: 100vw;
  height: 100vh;
  cursor: move;

  background-image: url(../images/focus/kaleidoscope/Fond_4.jpg);
  background-size: cover;
  background-position: center center;
  
  canvas{
    width: 100vw;
    height: 100vh;
  }
}

////    TIMELINE    ////

// body::after {
//     content: "";
//     height: 2px;
//     position: fixed;
//     top: calc(50% - 1px);
//     left: 0;
//     right: 0;
//     background: red;
//     z-index: 10;
// }

.bounce {
    animation: bounce 1s ease-in-out forwards;
}

@keyframes bounce {
    0% {transform: scaleY(1.15);}
    20% {transform: scaleY(0.85);}
    40% {transform: scaleY(1.1);}
    60% {transform: scaleY(0.95);}
    80% {transform: scaleY(1);}
    100% {transform: scaleY(1);}
}
.container {
    position: absolute;
    width: 100vw;
    // background-color: #EDE3E1;
    // background-image: url('../images/timeline_background.png');
    background-size: 100%;
    background-attachment: fixed;
    padding-top: 250vh;
    padding-bottom: 250vh;
    z-index: 998;
    .cont_slider {
        position: fixed;
        top: 40%;
        right: 60px;
        height: 200px;
        width: 20px;
        background-image: url('../images/Ligne.png');
        background-repeat: no-repeat;
        background-position: center;
        .slider {
            position: absolute;
            top: -20px;
            left: -10px;
            cursor: pointer;
            width: 40px;
            height: 40px;
            overflow: visible;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 80px;
                height: 40px;
                background-image: url('../images/Player.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                top: 0;
                left: -20px;
            }
        }
        .txt_slider {
            position: absolute;
            width: 120px;
            right: -50px;
            text-align: center;
            transition: .5s opacity ease-out;
            user-select: none;
            -webkit-user-select: none;
            p {
                margin: 0;
                font-size: 14px;
                &.date {
                    font-size: 12px;
                }
                &.artist {
                    font-family: 'biotif-b';
                }
                &.title {
                    font-family: 'biotif-l';
                }
            }
            &-top {
                top: -90px;
            }
            &-bot {
                top: 220px;
            }
        }
    }

    h1 {
        font-family: 'bely-display';
        font-size: 2.6vw;
    }
    p {
        font-family: "biotif-l";
        font-size: 1vw;

        b{
          font-family: "biotif-b";
        }
    }
    .cta {
        font-family: 'bely-display';
        font-size: 1.1vw;
        position: relative;
        cursor: pointer;
        width: auto;
        &::before {
            content: "";
            position: absolute;
            width: 85px;
            background: url('../images/Underline.png');
            background-size: contain;
            background-repeat: no-repeat;
            bottom: -9px;
            height: 10px;
        }
    }
    &_artist {
        display: flex;
        padding: 30px;
        margin-bottom: 700px;
        p {
          line-height: 1.6vw;
        }
        &-left {
            width: 55%;
            position: relative;
            img {
                position: absolute;
            }
            .ps {
                &-1 {
                    top: 20%;
                }
                &-2 {
                    left: 40%;
                }
                &-3 {
                    left: 30%;
                    top: -50%;
                }
            }
            .beat {
                &-1 {
                    left: 10%;
                    bottom: -50%;
                }
                &-2 {
                    top: -30%;
                }
            }
            .ab {
                &-1 {
                    bottom: -60%;
                }
                &-2 {
                    top: -50%;
                    left: 50%;
                }
            }
            .jm {
                &-1 {
                    right: 25%;
                    top: 25%;
                }
                &-2 {
                    right: 0%;
                }
                &-3 {
                    right: -60%;
                    top: -75%;
                }
            }
            .sp {
                &-1 {
                    bottom: -100%;
                }
                &-2 {
                    right: 15%;
                    top: -70%;
                }
                &-3 {
                    right: -50%;
                    top: -100%;
                }
            }
            .conf {
                &-1 {
                    left: 20%;
                    top: 20%;
                }
                &-2 {
                    top: -60%;
                    left: 20%;
                }
                &-3 {
                    right: -60%;
                    top: -100%;
                }
            }
        }
        &-right {
            width: 25vw;
            position: relative;
            h1 {
              transition: all .5s ease-out;
            }
            p {
              transition: all .5s ease-out;
            }
        }
        &-panel {
            background: red;
            height: 100vh;
            width: 250px;
            padding: 40px;
            padding-right: 100px;
            position: fixed;
            top: 0;
            right: -390px;
            background: url('../images/background-more.png');
            background-size: contain;
            color: white;
            overflow-y: scroll;
            transition: .25s transform ease-out;
            z-index: 9;
            .cross {
                position: absolute;
                top: 30px;
                right: 30px;
                background: url('../images/cross.png');
                background-size: contain;
                height: 45px;
                width: 45px;
                cursor: pointer;
                opacity: 0;
                pointer-events: none;
                transition: .25s;
                &-visible {
                    opacity: 1;
                    pointer-events: initial;
                }
            }
            .title {
                font-family: 'bely-display';
                font-size: 40px;
            }
            .desc {
                line-height: 25px;
                font-size: 15px;
                padding-right: 20px;
            }
            &-1 {
                background-color: #8C945B;
            }
            &-2 {
                background-color: #D87850;
            }
            &-3 {
                background-color: #75609A;
            }
            &-4 {
                background-color: #6BAD8E;
            }
            &-6 {
                background-color: #43C6FE;
            }
        }
    }
}

.focus-daftpunk {
  cursor: grab;
  .push-cab {
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 120px;
    width: 120px;
    .text-container {
      position: absolute;
      top: 2px;
      left: 2px;
      height: 116px;
      width: 116px;
      background: url('../images/PushCab/Back_Txt_Beige.png');
      background-size: contain;
      animation: rotation 5s linear infinite;
      &.black {
        filter: invert(1) contrast(2);
      }
    }
    .circle-container {
      position: absolute;
      height: 120px;
      width: 120px;
      background: url('../images/PushCab/push_cabinet.png');
      background-size: 120px;
      background-position: center;
      overflow: hidden;
      top: 0px;
      left: 0px;
      transition: all .25s ease-out;
      border-radius: 100%;
      .cirlce-img {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 120px;
        width: 120px;
        overflow: hidden;
        border-radius: 100%;
        transition: all .25s ease-out;
      }
      &:hover {
        height: 80px;
        width: 80px;
        top: 20px;
        left: 20px;
        overflow: hidden;
        border-radius: 100%;
        cursor: pointer;
        transition: all .25s ease-out;
        .cirlce-img {
          position: absolute;
          top: 0px;
          left: 0px;
          height: 80px;
          width: 80px;
          transition: all .25s ease-out;
        }
      }
    }
  }
  @keyframes rotation {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
  }
}

//INTRO TIMELINE
// <div class="intro_timeline">
//     <div class="intro_timeline-part1">
//         <img class="part1-vinyle" src="./images/intro/visuel_vinyl.png" alt="vinyle img"/>
//         <img class="part1-logo" src="./images/intro/intro_logo.png" alt="logo img"/>
//         <p class="part1-text">Get on board to discover the univers of sampling music & go over some iconic tracks!</p>
//         <img class="part1-sound" src="./images/intro/son.gif" alt="sound img"/>
//         <p class="part1-text">Turn the sound on</p>
//     </div>

//     <div class="intro_timeline-part2">
//         <img class="part1-logo" src="./images/intro/intro_logo.png" alt="logo img">
//         <h1 class="part2-text">To sample <span>[verb]</span></h1>
//         <p class="part2-text">Process of taking brief segments of sound (from a song, movie or elsewhere) and reusing it to form another sound or musical piece.
//             </br> Take a look a the genesis of the sample:
//         </p>
//         <img class="part2-discover" src="./images/intro/discover.png" alt="discover img">
//     </div>
// </div>
.intro_timeline {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
 
  z-index: 9999;
  &-part1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: url('../images//intro/intro_background.png');
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .part1-vinyle {
      mix-blend-mode: difference;
      margin-bottom: -21vh;
      max-width: 800px;
      // position: absolute;
      // top: 10vh;
      // left: 50%;
      // transform: translateX(-50%);
    }
    .part1-logo {
      z-index: 1;
    }
    .part1-text {
      font-family: "biotif";
      text-align: center;
      &-1 {

      }
      &-2 {

      }
    }
    .part1-sound {
      mix-blend-mode: multiply;
    }
  }
  &-part2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: url('../images//intro/intro_background.png');
    background-size: contain;
  }
}