html, body {
    width: 100vw;
    height: 100vh;
    // overflow: hidden;
    margin: 0;
    background-color: transparent;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
}
.container {
    position: absolute;
    width: 100%;
    background: lightpink;
}

.box {
    display: block;
    position:absolute;
    top:0;
    left:0;
    width:30px;
    height:30px;
    background-color:blue;
  }
  .box2 {
    display: block;
    position:absolute;
    top:30px;
    left:0;
    width:30px;
    height:30px;
    background-color:red;
  }